body{
    background-color: forestgreen;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    height: 70px;
    box-shadow: 2px 0px 4px white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

.home{
    text-decoration: none;
}

.dropdown button{
    position: relative;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.dropdown a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.content{
    position: absolute;
    background-color: beige;
    display: none;
}

.dropdown:hover .content{
    display: block;

}

h1{
    font-family: "orbitron", sans-serif;
    font-size: 40px;
    font-weight: 900px;
    color: white;
    
}

.info{
    width: 85%;
    margin-top: 15px;
    margin-left: 30px;
}

table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 30px;
    
    
}

th{
    background-color: black;
    color: white;
    padding: 5px;
}
th, td{
    border: 1px solid black;
    
}

tr:hover{
    background-color: #ddd ;
}


.head{
    margin-left: 30px;
    font-family: "Titillium Web", sans-serif;
}

td{
    padding: 10px;
}

.btn {
    
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
