<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='maintenance.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!--These link tags are for the fonts that will be used in the program -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class = "navbar">
        <a href="{{ url_for('home') }}" class="home"><h1>
            Aircraft Maintenance</h1> </a>
        
        
        <div class="dropdown">
            <button>Menu</button>

            <div class="content">
                <a href="{{ url_for('aircraft') }}">Aircraft</a>
                <a href="{{ url_for('maintenance') }}">Maintenance</a>
            </div>
        </div>
        
             
    </div>
    <h1 class="space">Add a Task</h1>
    <a href="{{ url_for('maintenance')}}" class="back">back</a>
    <form method="POST" action="{{ url_for('add_task')}}">

        <label for="Registration">Registration</label>
        <input type="text" placeholder="G-ABCD" name="Registration">

        <label for="Task">Task</label>
        <input type="text" placeholder="e.g engine check" name="Task">

        <label for="Status">Status</label>
        <input type="text" placeholder="e.g Complete / Pending" name="Status">

        <label for="Date">Date Performed</label>
        <input type="date" placeholder="e.g cfm56-5B" name="Date">

        <label for="Technician">Technician</label>
        <input type="text" placeholder="e.g John" name="Technician">

        <label for="Note">Note</label>
        <textarea name="Notes" placeholder="Additional Notes..." rows="6"></textarea>

        <button type="submit" class="btn">Add Task</button>
    </form>