<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flight_log.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!--These link tags are for the fonts that will be used in the program -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Add Flight Log</title>
</head>
<body>
    <div class = "navbar">
        <a href="{{ url_for('home') }}" class="home"><h1>
            Aircraft Maintenance</h1> </a>
        
        <div class="dropdown">
            <button>Menu</button>

            <div class="content">
                <a href="{{ url_for('aircraft') }}">Aircraft</a>
                <a href="{{ url_for('maintenance') }}">Maintenance</a>
            </div>
        </div>
    </div>

<body>
    
    
    <a href="{{ url_for('aircraft_detail', registration= aircraft['Registration']) }}" class="back">Back</a>
    
    <h1 class="space">Log Flight for {{ aircraft['Registration'] }}</h1>
        <form method="POST" action="{{ url_for('log_flight', registration= aircraft['Registration']) }}">
            <label for="Registration">Registration</label>
            <input type="text" placeholder="G-ABCD" name="Registration">

            <label for="Date">Date</label>
            <input type="date" placeholder="01/01/26" name="Date">
    
            <label for="Hours Flown">Hours Flown</label>
            <input type="number" placeholder="e.g 6.7" name="HoursFlown">
    
            <label for="Notes">Notes</label>
            <textarea name="Notes" placeholder="Additional Notes..." rows="6"></textarea>
    
            
    
            <button type="submit" class="btn">log Flight</button>
        </form>
    
</body>
</html>